In [96]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [97]:
# get data from the dataset
data_file = "LifeExpectancyDataset - Sheet1.csv"
df_og = pd.read_csv(data_file)

In [98]:
df_og

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Australia,2015,Developed,82.8,59.0,1,NaN,0.00000,93.0,74,...,93.0,NaN,93.0,0.1,56554.387600,23789338.0,0.6,0.6,0.937,20.4
1,Australia,2014,Developed,82.7,6.0,1,9.71,10769.36305,91.0,340,...,92.0,9.42,92.0,0.1,62214.691200,2346694.0,0.6,0.6,0.936,20.4
2,Australia,2013,Developed,82.5,61.0,1,9.87,11734.85381,91.0,158,...,91.0,9.36,91.0,0.1,67792.338600,23117353.0,0.6,0.6,0.933,20.3
3,Australia,2012,Developed,82.3,61.0,1,10.03,11714.99858,91.0,199,...,92.0,9.36,92.0,0.1,67677.634770,22728254.0,0.6,0.6,0.930,20.1
4,Australia,2011,Developed,82.0,63.0,1,10.30,10986.26527,92.0,190,...,92.0,9.20,92.0,0.1,62245.129000,223424.0,0.6,0.6,0.927,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.00000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.00000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.00000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.00000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.00000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [99]:
df_og = df_og.dropna()
df = df_og.sample(frac=1, random_state=42).reset_index(drop=True)
# plt.figure(figsize=(8, 6))
# plt.scatter(df["Alcohol"], df["Life expectancy"], color='blue', marker='o')

In [100]:
y_col = "Life expectancy"
string_cols = ["Country", "Year", "Status"]
Y = df[y_col].to_numpy()
X = df.drop(columns=string_cols + [y_col]).to_numpy()
X = np.c_[X, np.ones(X.shape[0])]

In [101]:
Y

array([68. , 63.4, 79. , ..., 78.9, 73.5, 66.4])

In [102]:
X

array([[2.20e+01, 0.00e+00, 1.76e+00, ..., 6.89e-01, 1.33e+01, 1.00e+00],
       [2.25e+02, 0.00e+00, 6.54e+00, ..., 5.04e-01, 9.70e+00, 1.00e+00],
       [9.80e+01, 1.00e+00, 3.41e+00, ..., 7.52e-01, 1.34e+01, 1.00e+00],
       ...,
       [7.60e+01, 1.00e+00, 2.53e+00, ..., 8.45e-01, 1.52e+01, 1.00e+00],
       [1.62e+02, 1.10e+01, 5.92e+00, ..., 7.00e-01, 1.29e+01, 1.00e+00],
       [2.10e+01, 4.00e+01, 1.00e-02, ..., 5.47e-01, 9.10e+00, 1.00e+00]])

In [103]:
X.shape

(1649, 19)

In [104]:
Y.shape

(1649,)

In [117]:
split = int(0.8 * X.shape[0])
X_train, X_test = X[:split], X[split:]
Y_train, Y_test = Y[:split], Y[split:]

In [118]:
def rmse(w, X, Y):
    m = X.shape[0]
    cost = 0
    for i in range(m):
        cost += (X[i] @ w - Y[i]) ** 2
    cost = cost / (2*m)
    return np.sqrt(cost)

In [119]:

# def dcostdw(w, X, Y):
#     dJdw = np.zeros_like(w)  # Initialize gradient vector with zeros
#     m = X.shape[0]  # Number of training examples
#     for i in range(m):
#         error = X[i] @ w - Y[i]
#         dJdw += error * X[i]
#     dJdw = dJdw / m
#     return dJdw

In [120]:
w = np.linalg.inv(X_train.T @ X_train) @ X_train.T @ Y_train
training_loss = rmse(w, X_train, Y_train)
print(training_loss)

2.5417071216459823

In [121]:
test_loss = rmse(w, X_test, Y_test)
print(test_loss)

2.5008620979483998

In [122]:
# err = cost(w, X_train, Y_train)
# perr = 0
# print(err)
# eta = 0.001

# while (abs(err-perr) > 0.01):
#     dJdw = dcostdw(w, X_train, Y_train)
#     w = w - eta*dJdw
#     perr = err
#     err = cost(w, X_train, Y_train)
#     print(err)